openapi: 3.0.3
info:
  title: Stripe consumer test fixture (Clover target)
  version: 2025-09-30.clover
  description: Curated contract excerpts for selected Clover release changes; not a complete Stripe schema.
servers: [{url: https://api.stripe.com/v1}]
paths:
  /subscription_schedules:
    post:
      operationId: createSubscriptionSchedule
      summary: Create schedule (Clover uses duration)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                phases:
                  type: array
                  items:
                    type: object
                    properties:
                      duration: {type: object, properties: {interval: {type: string}, interval_count: {type: integer}}}
                      items: {type: array, items: {type: object, properties: {price: {type: string}}}}
      responses:
        '200': {description: Schedule created}
  /promotion_codes:
    post:
      operationId: createPromotionCode
      summary: Create promotion code (Clover polymorphic promotion)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                promotion:
                  type: object
                  properties: {type: {type: string, enum: [coupon]}, coupon: {type: string}}
      responses:
        '200': {description: Promotion code created}
  /subscriptions/{id}:
    get:
      operationId: retrieveSubscription
      parameters: [{name: id, in: path, required: true, schema: {type: string}}]
      responses:
        '200':
          description: Discount with source; coupon is not auto-expanded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string}
                  discounts:
                    type: array
                    items:
                      type: object
                      properties:
                        id: {type: string}
                        source: {type: object, properties: {type: {type: string}, coupon: {type: string}}}
  /checkout/sessions/{id}:
    get:
      operationId: retrieveCheckoutSession
      parameters: [{name: id, in: path, required: true, schema: {type: string}}]
      responses:
        '200':
          description: Checkout Session; currency_conversion removed
          content:
            application/json:
              schema:
                type: object
                properties: {id: {type: string}, currency: {type: string}}
  /subscriptions:
    post:
      operationId: createSubscription
      summary: Create subscription; flexible billing is now the default
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                customer: {type: string}
                price: {type: string}
                billing_mode: {type: object, description: Explicitly select flexible or classic; default is now flexible}
      responses:
        '200': {description: Subscription created with flexible default billing mode}
  /customers/{id}:
    get:
      operationId: retrieveCustomer
      parameters: [{name: id, in: path, required: true, schema: {type: string}}]
      responses: {'200': {description: Customer}}
  /products/{id}:
    get:
      operationId: retrieveProduct
      parameters: [{name: id, in: path, required: true, schema: {type: string}}]
      responses: {'200': {description: Product}}
  /coupons/{id}:
    get:
      operationId: retrieveCoupon
      parameters: [{name: id, in: path, required: true, schema: {type: string}}]
      responses: {'200': {description: Coupon}}
  /files/{id}:
    get:
      operationId: retrieveFile
      parameters: [{name: id, in: path, required: true, schema: {type: string}}]
      responses: {'200': {description: File}}
  /prices/{id}:
    get:
      operationId: retrievePrice
      parameters: [{name: id, in: path, required: true, schema: {type: string}}]
      responses: {'200': {description: Price}}
